<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

        <!-- .resume-right -->
         <div class="col-md-6">
     
             <!-- .title_content -->
             <div class="title_content" style="float: none;">
                 <div class="text_content">Programming Skills</div>
                 <div class="clear"></div>
             </div>
             <!-- /.title_content -->
             
             <div class="skills">
                 <div class="skillbar clearfix" data-percent="97%">
                     <div class="skillbar-title"><span>Golang</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">97%</div>
                 </div>
     
                 <!-- .skillbar -->
                 <div class="skillbar clearfix" data-percent="95%">
                     <div class="skillbar-title"><span>C</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">95%</div>
                 </div>
         
                 <!-- /.skillbar -->
                 
                 <!-- .skillbar -->
                 <div class="skillbar clearfix" data-percent="90%">
                     <div class="skillbar-title"><span>C++</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">90%</div>
                 </div>
                 <!-- /.skillbar -->
                 <div class="skillbar clearfix" data-percent="85%">
                     <div class="skillbar-title"><span>MySQL</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">85%</div>
                 </div>
                 <!-- .skillbar -->
                 <div class="skillbar clearfix" data-percent="80%">
                     <div class="skillbar-title"><span>Java</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">80%</div>
                 </div>
                 <!-- /.skillbar -->
                 <div class="skillbar clearfix" data-percent="80%">
                     <div class="skillbar-title"><span>JavaScript</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">80%</div>
                 </div>
                 <div class="skillbar clearfix" data-percent="80%">
                     <div class="skillbar-title"><span>HTML</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">80%</div>
                 </div>
                 
                 <div class="skillbar clearfix" data-percent="80%">
                     <div class="skillbar-title"><span>C#</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">80%</div>
                 </div>
                 <div class="skillbar clearfix" data-percent="80%">
                     <div class="skillbar-title"><span>PHP</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">80%</div>
                 </div>
                 <div class="skillbar clearfix" data-percent="70%">
                     <div class="skillbar-title"><span>VB.Net</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">70%</div>
                 </div>
             </div>
             
             
             <!-- .title_content -->
             <div class="title_content" style="float: none;">
                 <div class="text_content">Design Skills</div>
                 <div class="clear"></div>
             </div>
             <!-- /.title_content -->
             
             <div class="skills">
                 <!-- .skillbar -->
                 <div class="skillbar clearfix" data-percent="90%">
                     <div class="skillbar-title"><span>Photoshop CS6</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">90%</div>
                 </div>
                 <!-- /.skillbar -->
                 
                 <!-- .skillbar -->
                 <div class="skillbar clearfix" data-percent="80%">
                     <div class="skillbar-title"><span>Inkscape</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">80%</div>
                 </div>
                 <!-- /.skillbar -->
     
             </div>
             
              
             <!-- .title_content -->
             <div class="title_content" style="float: none;">
                 <div class="text_content">Office Skills</div>
                 <div class="clear"></div>
             </div>
             <!-- /.title_content -->
                 
             <div class="skills">       
                 <!-- .skillbar -->
                 <div class="skillbar clearfix" data-percent="85%">
                     <div class="skillbar-title"><span>MS Excel</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">85%</div>
                 </div>
                 <!-- /.skillbar -->
                 
                 <!-- .skillbar -->
                 <div class="skillbar clearfix " data-percent="90%">
                     <div class="skillbar-title"><span>MS Word</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">90%</div>
                 </div>
                 <!-- /.skillbar -->
                 
                 <!-- .skillbar -->
                 <div class="skillbar clearfix " data-percent="95%">
                     <div class="skillbar-title"><span>Powerpoint</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">95%</div>
                 </div>
                 <!-- /.skillbar -->
     
             </div>
             
             
             <!-- .title_content -->
             <div class="title_content" style="float: none;">
                 <div class="text_content">Hobbies Skills</div>
                 <div class="clear"></div>
             </div>
             <!-- /.title_content -->
             
             <div class="skills">
                 <!-- .skillbar -->
                 <div class="skillbar clearfix" data-percent="90%">
                     <div class="skillbar-title"><span>Listening Music</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">90%</div>
                 </div>
                 <!-- /.skillbar -->
                 
                 <!-- .skillbar -->
                 <div class="skillbar clearfix " data-percent="90%">
                     <div class="skillbar-title"><span>Running</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">90%</div>
                 </div>
                 <!-- /.skillbar -->
                 
                 <!-- .skillbar -->
                 <div class="skillbar clearfix " data-percent="85%">
                     <div class="skillbar-title"><span>Reading</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">85%</div>
                 </div>
                 <!-- /.skillbar -->
                 
                 <!-- .skillbar -->
                 <div class="skillbar clearfix " data-percent="95%">
                     <div class="skillbar-title"><span>Traveling</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">95%</div>
                 </div>
                 <!-- /.skillbar -->
             </div>
             
             
             <!-- .title_content -->
             <div class="title_content" style="float: none;">
                 <div class="text_content">Language Skills</div>
                 <div class="clear"></div>
             </div>
             <!-- /.title_content -->
             
             <div class="skills">
                 <!-- .skillbar -->
                 <div class="skillbar clearfix" data-percent="100%">
                     <div class="skillbar-title"><span>Indonesian</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">100%</div>
                 </div>
                 <!-- /.skillbar -->
                  <!-- .skillbar -->
                  <div class="skillbar clearfix" data-percent="100%">
                     <div class="skillbar-title"><span>Hokkien</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">100%</div>
                 </div>
                 <!-- /.skillbar -->
                 <!-- .skillbar -->
                 <div class="skillbar clearfix" data-percent="90%">
                     <div class="skillbar-title"><span>English</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">90%</div>
                 </div>
                 <!-- /.skillbar -->
                 <!-- .skillbar -->
                 <div class="skillbar clearfix" data-percent="95%">
                     <div class="skillbar-title"><span>Chinese</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">95%</div>
                 </div>
                 <!-- /.skillbar -->
                 <!-- .skillbar -->
                 <div class="skillbar clearfix" data-percent="80%">
                     <div class="skillbar-title"><span>Taiwanese</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">80%</div>
                 </div>
                 <!-- /.skillbar -->
                 
                 <!-- .skillbar -->
                 <div class="skillbar clearfix " data-percent="60%">
                     <div class="skillbar-title"><span>French</span></div>
                     <div class="skillbar-bar"></div>
                     <div class="skill-bar-percent">60%</div>
                 </div>
                 <!-- /.skillbar -->
             </div>
             
             
             <!-- .title_content -->
             <div class="title_content" style="float: none;">
                 <div class="text_content">My Resume</div>
                 <div class="clear"></div>
             </div>
             <!-- /.title_content -->
             
             <!-- .download_resume -->
             <a class="download" style="margin:0;float: left;" href="#">
                 <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
             </a>
             <!-- /.download_resume -->
     
        </div>
        <!-- /.resume-right -->
          
          
          
          <!-- .resume-left -->
         <div class="col-md-6 resume-left">    
             <!-- .title_content -->
             <div class="title_content" style="margin-bottom:5px">
                 <div class="text_content">Experience</div>
                 <div class="clear"></div>
             </div>
             <!-- /.title_content -->
             
             <!-- .attributes -->
             <ul class="attributes">
                 <li class="first">
                     <h5>Software Developer <span class="duration"><i class="fa fa-calendar color"></i> 2018 - present</span></h5>
                     <h6><span class="fa fa-briefcase"></span> Kenda Rubber</h6>
                     <p>MES System Development, OPC-UA Read/Write to PLC, Client-Side User Interface</p>
                 </li>
                 <li>
                     <h5>Part Time Translator<span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2018</span></h5>
                     <h6><span class="fa fa-briefcase"></span> 晟信人力仲介 Cheng Shin Manpower Consultancy</h6>
                     <p>Chinese-Indonesia Translator, Chinese-English translator and some administrator stuffs</p>
                 </li>
                 <li>
                     <h5>Ministry of Broadcasting 美宣長<span class="duration"><i class="fa fa-calendar color"></i> 2016 - 2017</span></h5>
                     <h6><span class="fa fa-briefcase"></span> 成功大學崇德青年社 NCKU Chong-De Youth Club</h6>
                     <p>Make poster for incoming events and assist the team on event organizing</p>
                 </li>
                 <li>
                     <h5>Volunteer<span class="duration"><i class="fa fa-calendar color"></i> 2016 - 2017</span></h5>
                     <h6><span class="fa fa-briefcase"></span> 成功大學國際學生接待義工 NCKU Buddy-Buddy Program</h6>
                     <p>Assist incoming Master Degree International Students to study in NCKU</p>
                 </li>
             </ul>
             <!-- /.attributes -->
             <br>
             
             <!-- .title_content -->
             <div class="title_content">
                 <div class="text_content">Education</div>
                 <div class="clear"></div>
             </div>
             <!-- /.title_content -->
             
             <!-- .attributes -->
             <ul class="attributes">
                 <li class="first">
                     <h5>Bachelor of Science <span class="duration"><i class="fa fa-calendar color"></i> 2014 - 2018</span></h5>
                     <h6><span class="fa fa-book"></span> National Cheng Kung University</h6>
                     <p>Dept. of Computer Science and Information Engineering</p>
                 </li>
             </ul>
             <!-- /.attributes -->
             <br>  
             
             
               <!-- .title_content -->
             <div class="title_content">
                 <div class="text_content">Awards</div>
                 <div class="clear"></div>
             </div>
             <!-- /.title_content -->
             
             <!-- .attributes -->
             <ul class="attributes">
                 <li class="first">
                     <h5>Overseas Community Affairs Council ROC (Taiwan) Scholarship Award <span class="duration"><i class="fa fa-calendar color"></i>May 2018</span></h5>
                     <h6><span class="fa fa-trophy"></span> NCKU OCSA</h6>
                     <p>Outstanding Graduate of all Overseas Chinese Students</p>
                 </li>
                 <li>
                     <h5>國立成功大學優秀僑生獎助學金 <span class="duration"><i class="fa fa-calendar color"></i> 2014 - 2015</span></h5>
                     <h6><span class="fa fa-trophy"></span> National Cheng Kung University</h6>
                     <p>Outstanding Grades of all Indonesian Students who apply in Taiwan</p>
                 </li>
                 <li>
                     <h5>中印尼文化經濟協會獎學金 <span class="duration"><i class="fa fa-calendar color"></i> 2016</span></h5>
                     <h6><span class="fa fa-trophy"></span> PERPITA Taiwan</h6>
                     <p>Indonesian Student Association Scholarship</p>
                 </li>
             </ul>
             <!-- /.attributes -->
             <br>  
             
         </div>
         <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  

</div>
<!-- End .resume -->